/* CUSTOM PRPERTIES */

:root {
    --footer-height: 70px;
    --sidebar-with: 300px;

}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 100%;
}

li {
    list-style: none;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: inherit;
}

/* COMMON */
/* LAYOUT */
.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    /* debug */
    /* border: 5px solid red; */
    /* background-color: blue; */
}

.header {
    position: fixed;
    top: 0px;
    left: 180px;
    height: 80px;
    width: calc(100% - 180px);
    
    color: white;
    /* debug    */
    /* border: 2px solid green; */
    background-color: rgba(0, 0, 0, 0.811);
}

.sidebar {
    width: 180px;
    /* width: var(--sidebar-with); */
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 100px);
    color: white;
    /* debug */
    background-color: black;
    /* border: 2px solid white; */
}

.sidebar-up {
    height: 100px;
    /* debug */
    /* border: 2px solid white; */

}

.sidebar-down {
    height: 50px;
    /* debug */
    /* border: 2px solid white; */
}

.main {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: calc(100% - 180px);
    height: calc(100vh - 100px);
    /* debug */
    /* border: 2px solid white; */
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    /* height: var(footer-height); */
    /* debug    */
    /* border: 2px solid white; */
    background-color: rgba(0, 0, 0, 0.922);
}

.footer-left {
    /* debug */
    width: 300px;
    /* border: 2px solid white;
    background-color: blue; */
}

.footer-center {
    width: 450px;
    /*debug*/
    border: 2px solid white;
    /* background-color: green; */
}

.footer-right {
    width: 200px;
    /*debug*/
    border: 2px solid white;
    /* background-color: red;   */
}

/* MAIN */

/* header */
.btn-header {
    display: inline-block;
    font-size: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 25px 25px;
    padding-top: 10px;
}

#btn-header {
    position: relative;
    top: 30px;
    left: calc(100% - 150px);
}

/* nav-bar */
#nav-bar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 30px;
}

/* section-recently-played */

h2 {
    padding: 40px 30px 0;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 0px 100px 30px;
    gap: 20px;

}

.col {
    width: 200px;
    height: 200px;
    /* debug */
    /* border: 2px solid black; */
    /* background-color: red; */
    text-align: center;

}

p {
    padding-top: 10px;
    padding-left: 30px;
    color: #7D7F84;
    font-size: small;

}

.b-radius-15 {
    border-radius: 15px;
}

/* section-create-for-you*/

h4 {
    padding-top: 15px;
}

/* section-popular-artist*/

#circle-popular-artist {
    border-radius: 50%;
}

/* Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 25px;
}


.logo-desktop {
    height: 60px;

}

.logo-mobile {
    height: 30px;
    display: none;
}

.home {
    display: flex;
}

.home-img {
    height: 40px;
}

#home {
    height: 40px;

}

.search {
    display: flex;
}

.library {
    display: flex;
}

#library {
    font-size: small;
}

#playlist {
    color: white;
}

span {
    color: #7D7F84;
    font-size: small;
}

#plus {
    font-size: x-large;
}

.app {
    width: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

#app{
   width: 80px;
   display: inline-block;
}



#dwn {
    height: 30px;
}

.line {
    /* debug */
    border: 1px solid rgba(255, 255, 255, 0.541);
}

.user{
    display: flex;
    align-items: center;
    padding-top: 5px;
}






/* FOOTER */
.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 10px;
}

.img-footer {
    width: 50px;
    padding-right: 10px;
}



/* Utilities */
.top-80 {
    margin-top: 80px;
}

.m-bottom-10 {
    margin-bottom: 10px;
}


/*************************
media query
/**************************/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {

    .main {
        width: calc(100% - 80px);
    }

    .sidebar {
        width: 80px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-desktop {
        display: none;
    }

    .home-title {
        display: none;
    }

    .playlist {
        display: none;
    }

    .title-dwn{
        display: none;
    }

    .line{
        display: none;
    }

    .title-user{
        display: none;
    }


    .header {
        position: fixed;
        top: 0px;
        left: 80px;
        height: 80px; 
        width: calc(100% - 80px);
    } 

    /* :root{
        --sidebar-with:80px;
    } */

}