/* CUSTOM PRPERTIES */

:root {
    --footer-height: 70px;
    --sidebar-with: 300px;

}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 10px;
    color: inherit;
}

/* COMMON */
/* LAYOUT */
.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    /* debug */
    /* border: 5px solid red; */
    /* background-color: blue; */
}

.header {
    position: absolute;
    /*left: 150px;
    top: 0;
    z-index: -1;
    height: 50px;
    width: calc(100% - 300px); */
    /* debug    */
    border: 2px solid blue;
    background-color: yellow; 
}

.sidebar {
    width: 300px;
    /* width: var(--sidebar-with); */
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 70px);
    color: white;
    /* debug */
    background-color: black;
    border: 2px solid white;
}

.sidebar-down {
    height: 150px;
    width: 150px;
    /* debug */
    /* border: 2px solid white; */
}

.main {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: calc(100% - 300px);
    height: calc(100vh - 100px);
    /* debug */
    /* border: 2px solid white; */
    background-color: black;
    color: white;
}

/* FOOTER */
.footer {
    padding: 20px;
    height: 100px;
    /* height: var(footer-height); */
    /* debug    */
    border: 2px solid white;
    background-color: black;
}

/* MAIN */
/* nav-bar */
#nav-bar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 30px;
}

/* section-recently-played */

h2 {
    padding: 40px 30px 0;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 0px 100px 30px;
    gap: 20px;

}

.col {
    width: 200px;
    height: 200px;
    /* debug */
    border: 2px solid black;
    /* background-color: red; */
    text-align: center;

}

p {
    padding-top: 10px;
    padding-left: 30px;
    color: #7D7F84;
    font-size: small;

}

/* section-create-for-you*/

h4 {
    padding-top: 15px;
}

/* section-popular-artist*/

#circle-popular-artist {
    border-radius: 50%;
    color: black;
}

/* Sidebar*/

.sidebar-up {
    width: 150px
    /* debug */
    /* border: 2px solid white; */
}

.row-sidebar {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13rem;

}

#sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#logo {
    width: 50%;
}

span{
    color: #7D7F84;
    font-size: small;
}

#plus{
 font-size: x-large;
}

#playlist{
    font-size: x-small;
    color: white;
    padding-bottom: -5px;
}

.sidebar-down-list{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}


/*************************
media query
/**************************/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {

    .sidebar {
        width: 50px;
    }

    .main {
        width: calc(100% - 50px);
    }

    .header {
        position: absolute;
        left: 50px;
        top: 0;
        height: 50px;
        width: calc(100% - 50px);
    }

    /* :root{
        --sidebar-with:80px;
    } */

}